@model ShoolsLMS.Areas.Dashboard.ViewModels.SubjectListingModel

@if (Model != null && Model.Subjects != null && Model.Subjects.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Grade</th>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                @*<th scope="col">Start Date</th>*@

                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var subject in Model.Subjects)
            {
                <tr>
                    <td>
                        @subject.Grade.GradeName
                    </td>
                    <td>
                        @subject.SubjectName
                    </td>
                    <td>
                        @subject.SubjectCode
                    </td>
                    <td>
                        @subject.Description
                    </td>


                    @*<td>
                        @subject.StartDate
                    </td>*@
                    <td>
                        <button data-href="@Url.Action("Action", "Subjects", new { ID = subject.SubjectId })" type="button" class="data-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-pen mr-1"></i>Edit</button>
                        <button data-href="@Url.Action("Delete", "Subjects", new { ID = subject.SubjectId })" type="button" class="data-btn btn btn-danger" data-toggle="modal" data-target="#actionModal"><i class="far fa-trash-alt mr-1"></i>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    if (Model.Pager.EndPage > 1)
    {
        <nav>
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Subjects")">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Subjects", new { page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm})"><i class="fas fa-angle-left"></i></a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index","Subjects", new { page = page, searchTerm = Model.SearchTerm})">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Subjects", new { page = Model.Pager.CurrentPage + 1, searchTerm = Model.SearchTerm})"><i class="fas fa-angle-right"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Subjects", new { page = Model.Pager.TotalPages, searchTerm = Model.SearchTerm})"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                }
            </ul>
        </nav>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! There are no available records.
    </div>
}