
@model ShoolsLMS.Areas.Dashboard.ViewModels.QuizActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.ID > 0)
                {
                    <span>Edit Quiz</span>
                }
                else
                {
                    <span>Create Quiz</span>
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="form-group">
                    <label>Subject</label>
                    <select class="form-control" name="SubjectID">
                        @if (Model.Subjects != null)
                        {
                            foreach (var grades in Model.Subjects)
                            {
                                <option value="@grades.SubjectId" @(grades.SubjectId == Model.SubjectId ? "selected" : string.Empty)>
                                    @grades.SubjectName
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Quiz Name</label>
                    <input class="form-control" name="QuizName" placeholder="Enter Quiz Name" value="@Model.QuizName">
                </div>


                <div class="form-group">
                    <label>Score</label>
                    <input class="form-control" name="Score" placeholder="Enter Score" value="@Model.Score">
                </div>

            </form>

            <div class="errorDiv">

            </div>
        </div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i>Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i>Close</button>
        </div>
    </div>
}


<script>

    $("#actionButton").click(function () {


        $.ajax({
            url: '@Url.Action("Action", "TeacherQuizs")',
            type: "post",
            data: $("#actionForm").serialize()
        })
            .done(function (response) {
                if (response.Success) {
                    //data is saved... reload listing
                    location.reload();
                }
                else {
                    $(".errorDiv").html(response.Message);
                }
            });
    });


</script>

